/*********** UNIVERSALS ************/
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    background-color: #F8F8F8;
}


/*********** HEADER ************/
header {
}

#headerID {
    font-weight: 500;
    font-size: 32px;
    padding-left: 10%;
}

#pinkBar {
    width: 380px;
}


/*********** NAV BAR ************/
#navbar{
    text-align: center;
    overflow: hidden;
    float: center;
    width: 100%;
    display: center;
    background-color: #373737;
}

#navbar a {
    display: inline-block;
    border: none;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    width: 20%;
}

#navbar a:hover {
    background-color: #C9C9C9;
    color: black;
}

#navbar a.active {
    background-color: #0D47EA;
    color: white;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}


/*********** ALL BODY ************/
section {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15px;
    padding-bottom: 30px;
}

.heading {
    font-size: 24px;
    font-weight: 500;
}

.subHeading {
    font-size: 20px;
    font-weight: 400;
}

.text {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .75px;
    line-height: 1.65;
    padding-right: 45%;
}

.blockList {
    display: grid;
}


/*********** LINKS ************/
.pageSections a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.pageSections a:link {
    color: #0D47EA;
}

.pageSections a:visited {
    color: #0D47EA;
}

.pageSections a:hover {
    color: #C9C9C9;
}


/*********** BANNERS ************/
.banner{
    background-color: #C9C9C9;
}

.bannerImage{
    width: 60%;
    display: block;
    margin-left: 9%;
    margin-right: auto;
}

#houseFall{
    width: 55%;
}


/*********** FINDINGS SECTIONS ************/
.findings{
    background-color: #0D47EA;
}

.textF {
    color: #F8F8F8;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .75px;
    line-height: 1.65;
    padding-right: 45%;
}

#subHFind{
    color: white;
}





.titleWImage {
    display: inline;
}

#appIcon {
    width: 4%;
}

#imageApp{
    width: 80%;
}

li {
    font-size: 16px;
    font-weight: 200;
    margin: 8px;
}

#gifApp{
    width: 20%;
}

#working{
    width: 40%;
}

#servC{
    width: 75%;
}

#roadM{
    width: 75%;
}

#storyBoard{
    width: 55%;
}

#stakeholderMap{
    width: 65%;
}


/*********** ABOUT ************/
#team {
    height: 50%;
}

#ttl {
    max-width: 100%;
    height: auto;
}

#teleLogo {
    width: 50%;
}

#portrait{
    width: 40%;
}

.bio {
    padding-left: 0;
    padding-bottom: 20px;
}

.bio a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.bio a:link {
    color: #0D47EA;
}

.bio a:visited {
    color: #0D47EA;
}

.bio a:hover {
    color: #C9C9C9;
}


/*********** LIGHTBOX ************/
.blocks{
    width: 80%;
    padding-top: 10%;
    padding-bottom: 10%;
    cursor: pointer;
}

.row > .column {
    padding: 0 0px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create two equal columns that floats next to eachother */
.column {
    float: left;
    width: 35%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #f8f8f8;
}

/* Modal Content */
.modal-content {/*
  position: relative;
  background-color: #f8f8f8;
  margin: auto;
  padding-left: 30%;
  width: 65%;
  max-width: 1000px;*/
}

/* The Close Button */
.close {
  color: black;
  position: absolute;
  top: 1%;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #0D47EA;
  text-decoration: none;
  cursor: pointer;
}

.columnT {
  float: left;
  width: 38%;
}

.columnI {
  float: left;
  width: 62%;
}

/* Inset title */
.insetTitle {
  color: black;
  background-color: #f8f8f8;
  font-size: 24px;
  padding-left: 10%;
  padding-right: 10%;
}

/* Inset text */
.insetText {
  color: black;
  background-color: #f8f8f8;
  font-size: 18px;
  padding-left: 10%;
  padding-right: 10%;
}

/* Hide the slides by default */
.cardImg {
  position: relative;
  background-color: #f8f8f8;
  margin: auto;
  max-width: 1000px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(55, 55, 55, 0.35);
}

/* Caption text */
.caption-container {
    position: left;
    text-align: left;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*********** SCROLL ************/
 <style>
body, html, .main {
    height: 100%;
}

section {
    min-height: 100%;
}



/*********** SMALLEST BREAK POINT ************/

/*********** SMALLER BREAK POINT ************/

/*********** LARGER BREAK POINT ************/