/*********** UNIVERSALS ************/
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/*********** HEADER ************/
header {
    font-weight: 500;
    text-align: left;
    font-size: 40px;
    background-image: url("hurricane_home2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#headerID  {
    padding-left: 10%;
    padding-top: 2.5%;
}

.pageName {
    padding-left: 10%;
}

#pinkBar {
    padding-left: 10%;
    width: 440px;
}

.hQuote {
    font-style: italic;
    font-size:20px;
    color: #FF004D;
    padding-top: 20%;
    padding-left: 50%;
    padding-right: 10%;
}

.hQuoteSource {
    font-weight: 300;
    font-size:20px;
    padding-left: 50%;
    padding-right: 10%;
    padding-bottom: 5%;
}


/*********** NAV BAR ************/
.navbar{
    text-align: center;
    overflow: hidden;
    float: center;
    width: 100%;
    display: center;
    background-color: #BDBDBD;
}

.navbar a {
    display: inline-block;
    background-color: #BDBDBD;
    border: none;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    width: 20%;
}

.navbar a:hover {
    background-color: #FF004D;
    color: white;
}

/*.active {
    background-color: #FF004D;
    color: white;
}*/


/*********** BODY ************/
section {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 15px;
    font-weight: 500;
}

.pageButtons {
    text-align: center;
}

.button {
    text-decoration: none;
    display: inline-block;
    color: black;
    background-color: white;
    border-color: #FF004D;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
}

.heading {
    font-size: 24px;
}

.subHeading {
    font-size: 20px;
}

.text {
    font-size: 16px;
    font-weight: 200;
    padding-right: 40%;
}

.textB {
    font-size: 16px;
    font-weight: 200;
}

.titleWImage {
    display: inline;
}

.g {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#appIcon {
    width: 4%;
}

#imageApp{
    width: 80%;
}

#ttl {
    max-width: 100%;
    height: auto;
}

#teleLogo {
    width: 35%;
}

#portrait{
    width: 20%;
}

.bio {
    padding-left: 0;
    padding-bottom: 20px;
}

li {
    font-size: 16px;
    font-weight: 200;
    margin: 8px;
}

#gifApp{
    width: 20%;
}

#working{
    width: 40%;
}

#servC{
    width: 75%;
}

#roadM{
    width: 75%;
}

#storyBoard{
    width: 55%;
}

#affVid{
    width: 40%;
}

#stakeholderMap{
    width: 65%;
}

/*********** SMALLEST BREAK POINT ************/

/*********** SMALLER BREAK POINT ************/

/*********** LARGER BREAK POINT ************/